{% extends "accounts_base.html" %}
{% load widget_tweaks %}

{% block title %} - Login{% endblock title %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached black message" style='background-color: #005EB8;'>
            <h1 class="ui header">
                <i class="large key icon"></i>
                WMRGL Gene Keys
            </h1>

            <a href="{% url 'main-home' %}">
                <span class="link-spanner"></span>
            </a>

        </div>

        <div class="ui attached segment">

            {% if next %}
            {% if user.is_authenticated %}
            <p class="ui error message">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            {% if not r %}
            <p class="ui error message">Please login to see this page.</p>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if form.errors %}
            <p class="ui error message">Incorrect username or password. Please try again.</p>
            {% endif %}

            <form class="ui large form" , method="post" , action="{% url 'login' %}" novalidate>
                {% csrf_token %}

                <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="user icon"></i>
                        {% render_field form.username placeholder='Username' %}
                        <label>Username</label>
                    </div>
                </div>

                <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="lock icon"></i>
                        {% render_field form.password placeholder='Password' %}
                        <label>Password</label>
                    </div>
                </div>

                <input class="ui fluid large primary submit button" type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />

            </form>
        </div>

        <div class="ui bottom attached message">
            <a href="{% url 'password_reset' %}">Password Reset</a>
            | <a href="{% url 'signup' %}">Sign up</a>
        </div>

    </div>
</div>

{% endblock %}