{% extends "accounts_base.html" %}
{% load widget_tweaks %}

{% block title %} - Password reset{% endblock title %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached black message" style='background-color: #005EB8;'>
            <h1 class="ui header">
                <i class="large key icon"></i>
                WMRGL Gene Keys
            </h1>
        </div>

        <div class="ui attached segment">

            <div class="ui message">
                <div class="header">
                    Reset your password
                </div>
                <p>Enter your email address and we will send you a link to reset your password.</p>
            </div>


            <form class="ui large form" method="post" novalidate>
                {% csrf_token %}

                <div class="field {% if form.email.errors %} error{% endif %}">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        {% render_field form.email placeholder='Email address' %}
                    </div>

                    {% for error in form.email.errors %}
                    <span class='ui red small text' style="text-align: left">{{error}}</span>
                    {% endfor%}

                    <br>

                    {% if form.email.help_text %}
                    <span class='ui grey small text' style="text-align: left"> {{ form.email.help_text }} </span>
                    {% endif %}

                </div>

                <input class="ui fluid large primary submit button" type="submit" value="Send password reset email" />
            </form>
        </div>
    </div>
</div>

{% endblock %}