{% extends "accounts_base.html" %}
{% load widget_tweaks %}

{% block title %} - Password reset sent{% endblock title %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui attached black message" style='background-color: #005EB8;'>
            <h1 class="ui header">
                <i class="large key icon"></i>
                WMRGL Gene Keys
            </h1>

            <a href="{% url 'main-home' %}">
                <span class="link-spanner"></span>
            </a>
            
        </div>

        <div class="ui attached segment">

            <div class="ui message">
                <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check
                    your spam folder.</p>
            </div>

            <a href="{% url 'login' %}" class="ui fluid large primary submit button">Return to log in</a>

        </div>
    </div>
</div>

{% endblock %}