{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block javascript %}
<script>
    $('.ui.dropdown')
        .dropdown();

    $(document).ready(function () {
        var url = $("#genekeyForm").attr("data-genes-url");  // get the url of the `load_genes` view
        var panelId = $("#id_panel").val();  // get the selected gene ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-genes/)
            data: {
                'panel': panelId       // add the gene id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_genes` view function
                $("#id_genes").html(data);  // replace the contents of the gene input with the data that came from the server
            }
        });

    });

    $("#id_panel").change(function () {
        var url = $("#genekeyForm").attr("data-genes-url");  // get the url of the `load_genes` view
        var panelId = $(this).val();  // get the selected gene ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-genes/)
            data: {
                'panel': panelId       // add the gene id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_genes` view function
                $("#id_genes").html(data);  // replace the contents of the gene input with the data that came from the server
            }
        });

    });
</script>


{% endblock javascript %}

{% block content %}
<div class="ui main container">

    <div class="ui segment">
        <div class="ui three item menu">
            <div class="active item">Add key</div>
            <a class="item">Pending keys</a>
            <a class="item">Generate output files</a>
        </div>
    </div>

    <div class="ui segment">
        <form class="ui form" method='post' id="genekeyForm" data-genes-url="{% url 'ajax_load_genes' %}" novalidate>
            {% csrf_token %}

            <div class="field">
                {{ form.panel.label_tag }}
                {% render_field form.panel class='ui selection dropdown'%}
            </div>

            <div class="field">
                {{ form.gene_key.label_tag }}
                {% render_field form.gene_key placeholder='Define a gene key' %}
            </div>

            <div class="field">
                {{ form.genes.label_tag }}
                <select name="genes" class="ui fluid search dropdown" required id="id_genes" multiple>
                    <option value=''>Select Genes</option>
                    {% for gene in form.genes %}
                    {{gene}}
                    {% endfor %}
                </select>
            </div>
            <a class="ui button" href="{% url 'panel_keys' panel.pk %}">Cancel </a>
            <button type="submit" class='ui primary button'>Add key</button>
        </form>
    </div>
</div>


{% endblock content %}