{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block javascript %}
<script>
    $(document).ready(function () {
        var url = $("#genekeyForm").attr("data-genes-url");  // get the url of the `load_genes` view
        var panelId = $("#id_panel").val();  // get the selected gene ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-genes/)
            data: {
                'panel': panelId       // add the gene id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_genes` view function
                $("#id_genes").html(data);  // replace the contents of the gene input with the data that came from the server
            }
        });

    });

    $("#id_panel").change(function () {
        var url = $("#genekeyForm").attr("data-genes-url");  // get the url of the `load_genes` view
        var panelId = $(this).val();  // get the selected gene ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-genes/)
            data: {
                'panel': panelId       // add the gene id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_genes` view function
                $("#id_genes").html(data);  // replace the contents of the gene input with the data that came from the server
            }
        });

    });
</script>
{% endblock javascript %}

{% block content %}

<div class="ui main container">

    <div class="ui segment">
        <div class="ui three item menu">
            <div class="active item">Add key</div>
            <a href="{% url 'pending_keys' panel.pk %}" class="item">Pending keys</a>
            <a href="{% url 'generate_output' panel.pk %}" class="item">Generate output files</a>
        </div>
    </div>

    <div class="ui mini two top attached steps">
        <a class="step" href="{% url 'main-home' %}">
            <div class="content">
                <div class="title">Select Panel</div>
            </div>
        </a>
        <a class="step" href="{% url 'panel_keys' panel.pk %}">
            <div class="content">
                <div class="title">{{ panel.name }}</div>
            </div>
        </a>
    </div>

    <div class="attached ui segment">
        <h1>Add key</h1>
        <form class="ui form" method='post' id="genekeyForm" data-genes-url="{% url 'ajax_load_genes' %}" novalidate>
            {% csrf_token %}

            <div class="field {% if form.panel.errors %} error{% endif %}">
                {{ form.panel.label_tag }}
                {% render_field form.panel class='ui selection dropdown'%}

                {% for error in form.panel.errors %}
                <span class='ui red small text' style="text-align: left">{{error}}</span>
                {% if not forloop.last %} <br> {% endif %}
                {% endfor%}

                {% if form.panel.help_text %}
                <br>
                <span class='ui grey small text' style="text-align: left"> {{ form.panel.help_text }} </span>
                {% endif %}

            </div>

            <div class="field {% if form.key.errors %} error{% endif %}">
                {{ form.key.label_tag }}
                {% render_field form.key placeholder='Define a key name' %}

                {% for error in form.key.errors %}
                <span class='ui red small text' style="text-align: left">{{error}}</span>
                {% if not forloop.last %} <br> {% endif %}
                {% endfor%}

                {% if form.key.help_text %}
                <br>
                <span class='ui grey small text' style="text-align: left"> {{ form.key.help_text }} </span>
                {% endif %}

            </div>

            <div class="field {% if form.genes.errors %} error{% endif %}">
                {{ form.genes.label_tag }}
                <select name="genes" class="ui fluid search three column dropdown" required id="id_genes" multiple>
                    <option value=''>Search and select genes</option>
                    {% for gene in form.genes %}
                    {{gene}}
                    {% endfor %}
                </select>

                {% for error in form.genes.errors %}
                <span class='ui red small text' style="text-align: left">{{error}}</span>
                {% if not forloop.last %} <br> {% endif %}
                {% endfor%}

                {% if form.genes.help_text %}
                <br>
                <span class='ui grey small text' style="text-align: left"> {{ form.genes.help_text }} </span>
                {% endif %}

            </div>

            <div class="field {% if form.comment.errors %} error{% endif %}">
                {{ form.comment.label_tag }}
                {% render_field form.comment placeholder='Add a comment (Optional)'%}

                {% for error in form.comment.errors %}
                <span class='ui red small text' style="text-align: left">{{error}}</span>
                {% if not forloop.last %} <br> {% endif %}
                {% endfor%}

                {% if form.comment.help_text %}
                <br>
                <span class='ui grey small text' style="text-align: left"> {{ form.comment.help_text }} </span>
                {% endif %}

            </div>

            <!-- Temporarily removed cancel button -->
            <!-- <a class="ui button" href="javascript:window.history.back()">Cancel </a> -->

            <button type="submit" class='ui primary button'>Add key</button>

        </form>
    </div>
</div>

{% endblock content %}