{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    {% if title %}
    <title>Gene Keys - {{title}}</title>
    {% else %}
    <title>Gene Keys</title>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

</head>

<body>

    <!-- Main navigation menu -->
    <div class="ui fixed inverted main menu" , style='background-color: #005EB8;'>
        <div class="ui container">
            <a href="{% url 'main-home' %}" class="header item">
                <i class=" large key icon"></i>WMRGL Gene Keys</a>
            {% if user.is_authenticated %}
            <div class="ui floating dropdown blue right item">{{user.username}}<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{% url 'password_change' %}">Change Password</a>
                    <a class="item" href="{% url 'logout' %}">Log out</a>
                </div>
            </div>
            {% else %}
            <div class="right menu">
                <div class="item">
                    <a href='{% url "login" %}' class="ui button">Log in</a>
                    <a href='{% url "signup" %}' class="ui primary button" , style='margin-left: 8px;'>Sign up</a>
                </div>

            </div>
            {% endif %}
        </div>
    </div>

    <!-- Hidden placeholder -->
    <div class="ui attached inverted header segment">
        <div class='ui container'>
            <span class="header item">
                <i class=" large key icon"></i>WMRGL Gene Keys</a>
        </div>
    </div>

    {% block content %}{% endblock %}

</body>


{% block javascript %} {% endblock %}

<script>
    $('.ui.dropdown')
        .dropdown();
</script>

</html>