{% extends 'main/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.semanticui.min.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
{% endblock stylesheet %}

{% block javascript %}
<script>
    $("#dismiss-button").click(function () {
        $("#bottom-message").slideUp(200);
        $("#main-segment").css("margin-bottom", "13px");
    });

    // $('.message .close')
    //     .on('click', function () {
    //         $(this)
    //             .closest('.message')
    //             .transition('fade');
    // });

    $('.tables.menu .item').tab({
        alwaysRefresh: true,
        cache: false,
    });

    $.extend(true, $.fn.dataTable.defaults, {
        "ordering": false,
        "pageLength": 15,
        "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
    });

    $(document).ready(function () {
        $('#active-keys-table').DataTable({
            "language": { "emptyTable": "No active keys for the {{panel}} panel" }
        });
    });

    $(document).ready(function () {
        $('#archived-keys-table').DataTable({
            "language": { "emptyTable": "No archived keys for the {{panel}} panel" },
            "autoWidth": false
        });
    });

    $(document).ready(function () {
        $('#panel-genes-table').DataTable({
            "language": { "emptyTable": "No genes associated with the {{panel}} panel" },
            "autoWidth": false,
        });
    });

    $(function () {

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $('#modal-keys').modal({
                        centered: false,
                        autofocus: false
                    }).modal('show');
                },
                success: function (data) {
                    $("#modal-keys").html(data.html_form);
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $('#active-keys-table').DataTable().destroy();
                        $("#active-keys-table tbody").html(data.html_key_list_active);
                        $('#active-keys-table').DataTable({
                            "language": { "emptyTable": "No active keys for the {{panel}} panel" }
                        }).draw();

                        $('#archived-keys-table').DataTable().destroy();
                        $("#archived-keys-table tbody").html(data.html_key_list_archived);
                        $('#archived-keys-table').DataTable({
                            "language": { "emptyTable": "No archived keys for the {{panel}} panel" },
                            "autoWidth": false
                        }).draw();

                        $('#panel-genes-table').DataTable().destroy();
                        $("#panel-genes-table tbody").html(data.html_panel_gene_list);
                        $('#panel-genes-table').DataTable({
                            "language": { "emptyTable": "No genes associated with the {{panel}} panel" },
                            "autoWidth": false,
                        }).draw();

                        $("#modal-keys").modal("hide");
                    }
                    else {
                        $("#modal-keys").html(data.html_form);
                    }
                }
            });
            return false;
        };

        $("#panel-genes-table").on("click", ".js-edit-panel_gene", loadForm);
        $("#modal-keys").on("submit", ".js-edit-panel_gene-form", saveForm);

        $("#active-keys-table").on("click", ".js-archive-key", loadForm);
        $("#modal-keys").on("submit", ".js-key-archive-form", saveForm);

        $("#active-keys-table").on("click", ".js-key-comment", loadForm);
        $("#modal-keys").on("submit", ".js-key-comment-form", saveForm);
    });
</script>
{% endblock javascript%}

{% block content %}

{% if not user.is_authenticated %}
<div class="ui fixed bottom sticky inverted attached segment" id='bottom-message'
    style='background-color: #425563;opacity: 0.97;'>
    <div class="ui container">
        <div class="ui middle aligned divided grid" style="padding-left: 13px; padding-right: 13px;">
            <div class='twelve wide column'>
                <div class="ui inverted header" style="margin-bottom: 0px;">
                    Please log in!
                </div>
                <p style="margin-top: 0px;">
                    Authentication is required to add, accept or archive keys; modify comments; designate preferred
                    transcripts;or generate output files.</p>
            </div>
            <div class="four wide column">
                <button class="ui fluid button" id='dismiss-button'>Dismiss</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="ui main container">

    <!-- Three top menu buttons -->
    <div class="ui segment">
        <div class="ui three item menu">
            <a href="{% url 'add_key' panel.pk %}" class="item">Add key</a>
            <a href="{% url 'pending_keys' panel.pk %}" class="item" class="item">Pending keys</a>
            <a href="{% url 'generate_output' panel.pk %}" class="item">Generate output files</a>
        </div>
    </div>

    <!-- Breadcrumb -->
    <div class="ui mini two top attached steps">
        <a class="step" href="{% url 'main-home' %}">
            <div class="content">
                <div class="title">Select Panel</div>
            </div>
        </a>
        <div class="active step">
            <div class="content">
                <div class="title">{{ panel.name }}</div>
            </div>
        </div>
    </div>

    <!-- Main section -->
    <div id='main-segment' class="ui bottom attached segment" {% if not user.is_authenticated %}
        style="margin-bottom: 83px;" {% endif %}>

        <!-- Panel information -->
        <h1>{{ panel.name }} Panel</h1>
        <p>{{ panel.description }}</p>

        <!-- Warning message is user not logged in -->
        <!-- {% if not user.is_authenticated %}
        <div class="ui warning message">
            <i class="close icon"></i>
            <div class="header">
                Please log in!
            </div>
            <p>Authentication required to add, accept or archive keys; modify comments; designate preferred transcripts;
                or generate output files.</p>
        </div>
        {% endif %} -->

        <!-- Tab menu -->
        <div class="ui pointing secondary menu tables">
            <a class="active item" data-tab="active-keys">Active keys</a>
            <a class="item" data-tab="archived-keys">Archived keys</a>
            <a class="item" data-tab="gene-transcripts">Gene/transcript list</a>
        </div>

        <!-- Active keys tab -->
        <div class="ui tab" data-tab="active-keys">
            <table id="active-keys-table" class="ui selectable striped celled table" style="width:100%">
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: 400px;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: 100px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Genes</th>
                        <th>Added by</th>
                        <th>Date</th>
                        <th>Checked by</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'main/includes/partial_key_list_active.html' %}
                </tbody>
            </table>
        </div>

        <!-- Archived keys tab -->
        <div class="ui tab" data-tab="archived-keys">
            <table id="archived-keys-table" class="ui selectable striped celled table" style="width:100%">
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: 400px;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Genes</th>
                        <th>Added by</th>
                        <th>Date</th>
                        <th>Checked by</th>
                        <th>Date</th>
                        <th>Archived by</th>
                        <th>Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% include 'main/includes/partial_key_list_archived.html' %}
                </tbody>
            </table>
        </div>

        <!-- Gene/transcripts tab -->
        <div class="ui tab" data-tab="gene-transcripts">
            <table id="panel-genes-table" class="ui selectable striped celled table"
                style="table-layout: fixed; width:100%">
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: 100px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Gene</th>
                        <th>Preferred transcript</th>
                        <th>Relevant active keys</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'main/includes/partial_panel_gene_list.html' %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Create an empty modal (content filled using AJAX) -->
<div id='modal-keys' class="ui small modal">
</div>

{% endblock content %}