{% for key in pending_gene_keys %}
<tr class='warning'>
    <td data-label="Gene Key">{{ key.key }}</td>
    <td data-label="Genes">{{ key.gene_names }}</td>
    <td data-label="Panel">{{ key.panel }}</td>
    <td data-label="Added by">{{ key.added_by }}</td>
    <td data-label="Date">{{ key.added_at|date:'d/m/Y' }}</td>
    <td data-label="Comment">{{ key.comment }}</td>
    <td data-label="" class='right aligned'>

        <div class="ui icon buttons">
            <button type="button" data-tooltip="Delete {{key.key}}" data-variation='small'
                class="ui negative negative button js-delete-key {% if not user.is_authenticated %} disabled {%endif%}"
                data-url="{% url 'key_delete' pk=panel.id key=key.id %}">
                <i class="trash icon"></i>
            </button>
            <button type="button" data-tooltip="Accept {{key.key}}" data-variation='small'
                class="ui positive button js-accept-key {% if user.is_authenticated and key.added_by == user %}disabled{%endif%}"
                data-url="{% url 'key_accept' pk=panel.id key=key.id %}">
                <i class="check icon"></i>
            </button>
        </div>

    </td>
</tr>
{% endfor %}