{% for key in active_gene_keys %}
<tr id="key_archived_{{ key.id }}">
    <td data-label="Gene Key">{{ key.gene_key }}</td>
    <td data-label="Genes">{{ key.gene_names }}</td>
    <td data-label="Added by">{{ key.added_by }}</td>
    <td data-label="Date">{{ key.added_at|date:'d/m/Y' }}</td>
    <td data-label="Checked by">{{ key.checked_by }}</td>
    <td data-label="Date">{{ key.checked_at|date:'d/m/Y' }}</td>
    <td data-label="" class="">
        <div class="ui small vertical buttons">
            <button type="button" class="ui button js-key-comment"
                data-url="{% url 'key_comment' pk=panel.id key=key.id %}">Comment</button>
            <button type="button"
                class="ui negative button js-archive-key {% if not user.is_authenticated %} disabled {%endif%}"
                data-url="{% url 'key_archive' pk=panel.id key=key.id %}">Archive</button>
        </div>
    </td>
</tr>
{% endfor %}