{% for entry in archived_gene_keys %}
<tr class="negative">
    <td data-label="Gene Key">{{ entry.key }}</td>
    <td data-label="Genes">{{ entry.gene_names }}</td>
    <td data-label="Added by">{{ entry.added_by }}</td>
    <td data-label="Date">{{ entry.added_at|date:'d/m/Y' }}</td>
    <td data-label="Checked by">{{ entry.checked_by }}</td>
    <td data-label="Date">{{ entry.checked_at|date:'d/m/Y' }}</td>
    <td data-label="Archived by">{{ entry.archived_by }}</td>
    <td data-label="Date">{{ entry.archived_at|date:'d/m/Y' }}</td>
</tr>
{% endfor %}