{% for key in active_gene_keys %}
<tr id="key_archived_{{ key.id }}">
    <td data-label="Gene Key">{{ key.gene_key }}</td>
    <td data-label="Genes">{{ key.gene_names }}</td>
    <td data-label="Date Added">{{ key.added_at }}</td>
    <td data-label="Added by">{{ key.added_by }}</td>
    <td data-label="Archive" class="ui center aligned">
        <button type="button" class="ui negative button js-archive-key"
            data-url="{% url 'key_archive' pk=panel.id key=key.id %}">Archive</button>
    </td>
</tr>
{% endfor %}